body {
  margin: 0;
  background: #555;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}


#myPicAll {  
  border: 1px solid black;
  width: 1050px;
  height: 100px;
  background: url('./imges/num2.png');
}

#myPic0 {  
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background: url('./imges/num2.png');
}

#myPic1 {  
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background: url('./imges/num2.png');
  background-position: -100px ;
}

#myPic2 {  
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background: url('./imges/num2.png');
  background-position: -200px;
}

#myPic3 {  
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background: url('./imges/num2.png');
  background-position: -300px;
}

#myPic4 {  
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background: url('./imges/num2.png');
  background-position: -400px;
}

#myPic5 {  
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background: url('./imges/num2.png');
  background-position: -500px;
}

#myPic6 {  
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background: url('./imges/num2.png');
  background-position: -600px;
}

#myPic7 {  
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background: url('./imges/num2.png');
  background-position: -700px;
}

#myPic8 {  
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background: url('./imges/num2.png');
  background-position: -800px;
}

#myPic9 {  
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background: url('./imges/num2.png');
  background-position: -900px;
}

#myPicRight {  
  border: 1px solid black;
  width: 50px;
  height: 100px;
  background: url('./imges/num2.png');
  background-position: right;
}
